<body>
    <h2>Hello, (name of customer).  You have $0.00 left, please select a soda.</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 soda"><img src="./assets/images/barq.png" alt="barq" ><p>$0.75</p></div>
            <div class="col-sm-4 soda"><img src="./assets/images/cdry.png" alt="barq" ><p>$0.75</p></div>
            <div class="col-sm-4 soda"><img src="./assets/images/coke.png" alt="barq" ><p>$2.00</p></div>
        </div>
        <div class="row">
            <div class="col-sm-4 soda"><img src="./assets/images/crush.png" alt="barq" ><p>$0.50</p></div>
            <div class="col-sm-4 soda"><img src="./assets/images/dew.png" alt="barq" ><p>$1.50</p></div>
            <div class="col-sm-4 soda"><img src="./assets/images/pepsi.png" alt="barq" ><p>$1.50</p></div>
        </div>
        <div class="row">
            <div class="col-sm-4 soda"><img src="./assets/images/rb.png" alt="barq" ><p>$3.00</p></div>
            <div class="col-sm-4 soda"><img class="fatty" src="./assets/images/sprite.png" alt="barq" ><p>$1.00</p></div>
            <div class="col-sm-4 soda"><img class="fatty" src="./assets/images/wild cherry.png" alt="barq" ><p>$1.50</p></div>
        </div>
    </div>
</body>
