<div class="container">
    <div class="row">
        <div class="col-sm-4 soda"><img src="./assets/images/barq.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/cdry.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/coke.png" alt="barq" ></div>
    </div>
    <div class="row">
        <div class="col-sm-4 soda"><img src="./assets/images/crush.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/dew.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/pepsi.png" alt="barq" ></div>
    </div>
    <div class="row">
        <div class="col-sm-4 soda"><img src="./assets/images/rb.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/sprite.png" alt="barq" ></div>
        <div class="col-sm-4 soda"><img src="./assets/images/wild cherry.png" alt="barq" ></div>
    </div>
</div>