<body>
    <h1>Welcome to the Vendo-Mania</h1>
    <br>
    <p>Can we get some information about you?</p>


    <form >
        <fieldset class="form-group">
            <label>Name</label>
            <input type="text"  class="form-control" name="description" required="required">
        </fieldset>
        <br>
        <fieldset class="form-group">
            <label>Amount of money</label>
            <input type="text"  class="form-control" name="description" required="required">
        </fieldset>
        
        <button type="submit" class="btn btn-success">Save</button>
        
    </form>
</body>

